/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

/* @import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Homemade+Apple&family=Pixelify+Sans:wght@400..700&family=Playwrite+AU+NSW:wght@100..400&display=swap'); =/

/* BACKGROUND */

body {
	background: url('https://i.imgur.com/gRyeChn.png') center center fixed;
	background-size: cover;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
	font-family: "Bona Nova SC", sans-serif;
        color: #d6d0e1;
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(42, 41, 64, 0.6);
	border: 2px solid #2b2232;
	box-shadow: none;
	border-radius: 0px
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none;
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
        background: linear-gradient(#2e2536, #846a9b);
	border: 2px solid #2b2232;
	border-top: none;
	color: #d6d0e1;
        font-family: "Pixelify Sans", sans-serif;
text-shadow: 1px 2px 2px #2b2232;
	border-radius: 10px;
}
.container.topbar .welcomeback a {
    color: #d6d0e1 !important;
}
ul.toplinks a { 
color: #d6d0e1 !important;
}
ul.toplinks a:hover { 
color: #ffffff !important; }

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: linear-gradient(#2e2536, #846a9b);
	border: 2px solid #2b2232;
	color: #d6d0e1;
        font-family: "Pixelify Sans", sans-serif;
text-shadow: 1px 2px 2px #2b2232;
	border-radius: 6px;
        border: 2px solid #2b2232;
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #d6d0e1 !important;
        
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: #5e4b6e !important;
	border-bottom: none;
	color: #ffffff !important;
	border-radius: 5px;
        box-shadow: 0px 0px 6px 2px #2b2232;
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: linear-gradient(#2e2536, #846a9b);
        border: 2px solid #2b2232;
	color: #d6d0e1 !important;
	border-radius: 10px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #d6d0e1;
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "Template by Katie (#106445) Code by IchorPearlTV (#534320)";
        color: #d6d0e1;
        position: absolute;
font-size: 16px;
opacity: 80%;
        right: 14%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright {
        background: linear-gradient(#2e2536, #846a9b);
        border: 2px solid #2b2232 !important;
	border-radius: 10px;
	color: #d6d0e1 !important;    
}
input.floatright:hover { 
        background: linear-gradient(#2e2536, #846a9b);
        border: 2px solid #2b2232 !important;
	border-radius: 10px;
	color: #ffffff !important; 
        text-shadow: 1px 1px 2px #2b2232 !important;
 }

/* SWITCH ACCOUNT BUTTON */

button.button {
        background: linear-gradient(#2e2536, #846a9b);
        border: 2px solid #d6d0e1 !important;
	border-radius: 10px;
        color: #c4bcd4 !important; 
}

button.button:hover {
        background: linear-gradient(#A8C92E, #846a9b);
        border: 2px solid #2b2232 !important;
	border-radius: 10px;
        color: #ffffff !important; 
        text-shadow: 1px 1px 2px #2b2232 !important;
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

a:link,
a:visited {
  color: #ddb057 !important;
  font-weight: normal;

.alert,
.alert-warning,
.alert-danger,
.alert-success {
	background: linear-gradient(#2e2536, #846a9b);
	border: solid 1px #2b2232;
	color: #A8C92E;
	border-radius: 10px !important;
        box-shadow: 0px 0px 10px #2b2232 !important;
        margin-top: 10px;
}
.alert-info a {
    color: #90e0ff !important;
}
.alert-danger a {
    color: #ff9090 !important;
}
.alert-success a {
    color: #9bff90 !important;
}
.alert-warning a {
    color: #9bff90 !important;
}
.alert a {
    color: #9bff90 !important;
}

}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
        border: solid 3px #2b2232;
	color: #d6d0e1 !important;
	font-size: 60px;
	text-align: center;
        font-family: "Bona Nova SC", serif;
text-shadow: 1px 2px 2px #2b2232;
}


/* MEDIUM HEADER */

h2 {
	color: #d6d0e1;
	font-size: 24px;
	text-align: center;
text-shadow: 1px 2px 2px #0d231a;
}


/* SMALL HEADER */

h3 {
	color: #d6d0e1 !important;
	font-size: 14px !important;
text-shadow: 1px 2px 2px #0d231a;
}

/* RIGHT SIDE PANEL HEADER */


.sidebar h3 {
	color: #d6d0e1 !important;
        font-size: 26px !important;
        font-family: 'Bona Nova SC';
}

/* RIGHT SIDE PANELS */
.panel {
	background: rgba(52, 41, 61, 0.8) !important;
	box-shadow: 1px 2px 1px #2b2232 !important;
	border: solid 2px #2b2232 !important;
	color: #d6d0e1 !important;
	border-radius: 10px
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: linear-gradient(0.25turn, #82699a, #5e4a6e);
	color: #d6d0e1 !important;
	border-radius: 6px !important;
        border: solid 2px #2b2232;
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: linear-gradient(0.25turn, #725b87, #b0a1bf);
	color: #000000 !important;
	border-radius: 6px !important;
        
    
}

/* ENERGY BAR TEXT */
.progress div {
	color: #d6d0e1 !important;
text-shadow: 1px 2px 2px #2b2232 !important;
}



/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(150, 130, 170, 0.6) !important;
        color: #d6d0e1 !important;
	border-radius: 6px !important;
        border: solid 2px #2b2232;
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(94, 74, 110, 0.6) !important;
        color: #d6d0e1 !important;
	border-radius: 6px !important;
        border: solid 2px #2b2232;
}

.s-chat-message__pinned /* Pinned Message */ {
	background: rgba(150, 130, 170, 0.6) !important;
        color: #d6d0e1 !important;
	border-radius: 6px !important;
        border: solid 2px #2b2232;
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #d6d0e1 !important;
}

div#chatMessageContainer {
	border: none !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(94, 74, 110, 0.8) !important;
        color: #d6d0e1 !important;
}
/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: rgba(89, 71, 105, 0.8) !important;
	box-shadow: 1px 2px 2px #2b2232 !important;
	border: solid 1px #2b2232 !important;
	color: #d6d0e1 !important;
	border-radius: 15px !important;
	border-collapse: separate;
}
#about {
    position: relative;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
     width: 100%;
}

/* table image background #93596 */

#about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 70%;
    background-image:     url('https://i.imgur.com/VpiGUro.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
        background: linear-gradient(#2e2536, #846a9b) !important;
	color: #d6d0e1 !important;
	border-radius: 15px !important;
         text-shadow: 1px 1px 2px #2b2232;
 
}

/*Remove .top for full background in table, affects shown title so better to use custom title in that case, don't know how to fix that yet. #93596 */

.top { z-index: 0;
position: relative;
border-radius: 5px !important;
opacity: 90%
}

td.bottom a {
        text-decoration: none !important;
        z-index: 1;
        position:relative;
        text-align: center !important;
}

/* Color behind "Level, Stats, Branch, Territory" etc. COLOR DOES NOT SHOW W PICTURE */

.inner-table .left {
	background: linear-gradient(#0f4b30, #24ad70) !important;
        color: ##ffffff;
	border-radius: 0px
}
/* LION NAME COLOR */
#about .xlarge.b .bigger {
        color: #d6d0e1 !important;
        z-index: 1;
        position:relative;
}

/* Color behind the number of all of the things above */

.inner-table .right {
	background: rgba(158, 140, 177, 0.8);
	box-shadow: 1px 2px 1px #2b2232 !important;
	border: solid 2px #2b2232 !important;
        border-radius: 10px;
}

td.right {
	border-radius: 15px !important;
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: rgba(74, 59, 87, 0.8) !important;
	box-shadow: 1px 2px 2px #2b2232 !important;
	border: solid 1px #2b2232 !important;
        border-radius:10px !important;
}

/* FEED ALL, PLAY ALL */

.feature {
	background: linear-gradient(#2e2536, #846a9b) !important;
	border-radius: 5px !important;
        box-shadow: 1px 2px 1px #2b2232 !important;
        color: #d6d0e1;
        text-shadow: 1px 2px 2px #2b2232 !important;
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: rgba(74, 59, 87, 0.8) !important;
	border-radius: 5px !important;
        box-shadow: 1px 2px 1px #2b2232 !important;
box-shadow: 0px 1px 1px #2b2232;

}


/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: rgba(57, 46, 67, 0.8) !important;
	box-shadow: 1px 2px 1px #2b2232 !important;
        text-shadow: 1px 2px 2px #2b2232 !important;
	border: solid 2px #2b2232 !important;
        border-radius: 10px;
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {	
        background: rgba(125, 98, 146, 0.8) !important;
	box-shadow: 1px 2px 1px #2b2232 !important;
	border: solid 2px #2b2232 !important;
	border-radius: 10px !important;
	color: #d6d0e1 !important;
	box-shadow: 1px 2px 1px #2b2232 !important;
        text-shadow: 1px 2px 2px #2b2232 !important;
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #d6d0e1 !important;
        text-shadow: 1px 1px 1px #2b2232 !important;
}

/* LINK COLOR */

a:link,
a:visited {
	color: #d6d0e1 !important;
text-shadow: 1px 2px 2px #2b2232 !important;
}

/* LINK HOVER COLOR */

a:hover {
	color: #ffffff !important;
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex;
        position:relative;
        flex-direction: column;
        align-items: center;
}

/* BOTTOM BOXES (medium, small) for better alignment #93596 */
.bottomboxes { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 60%;
    flex-direction: row; }
/* BOXES */

.smallbox {
	float: right;
	background: rgb(43,98,99);
background: linear-gradient(0deg, rgba(43,98,99,0.8044467787114846) 0%, rgba(17,40,56,0.8688725490196079) 96%);
	color: #ffe5c5;
	padding: 10px;
	border: solid 1px #F2D1CE;
    box-shadow: 0px 0px 10px 2px #0c2a3c;
	border-radius: 5px;
	margin: 5px;
    transition: 3s;
    overflow: auto;
    box-sizing: border-box;
    display: inline-block;
	height: 150px;
	width: 48%;
}

.mediumbox {
	float: left;
	background: rgb(43,98,99);
background: linear-gradient(0deg, rgba(43,98,99,0.8044467787114846) 0%, rgba(17,40,56,0.8688725490196079) 96%);
	color: #ffe5c5;
	padding: 10px;
	border: solid 1px #F2D1CE;
    box-shadow: 0px 0px 10px 2px #0c2a3c;
	border-radius: 5px;
	margin: 5px;
    transition: 3s;
    overflow: auto;
    box-sizing: border-box;
    display: inline-block;
	height: 250px;
	width: 48%;
}

.largebox {
	float: center;
	background: rgb(43,98,99);
background: linear-gradient(0deg, rgba(43,98,99,0.8044467787114846) 0%, rgba(17,40,56,0.8688725490196079) 96%);
	color: #ffe5c5;
	padding: 10px;
	border: solid 1px #F2D1CE;
        box-shadow: 0px 0px 10px 2px #0c2a3c;
	border-radius: 5px;
	margin: 5px;
	height: 350px;
	width: 60%;
        transition: 3s;
        overflow: auto;
        box-sizing: border-box;
        display: inline-block;
}

/* HOVER BOXES */

.smallhoverbox {
	float: right;
	background: rgb(43,98,99);
background: linear-gradient(0deg, rgba(43,98,99,0.8044467787114846) 0%, rgba(17,40,56,0.8688725490196079) 96%);
	color: #ffe5c5;
	padding: 10px;
	border: solid 1px #F2D1CE;
    box-shadow: 0px 0px 10px 2px #0c2a3c;
	border-radius: 5px;
	margin: 5px;
    transition: 3s;
    overflow: auto;
    box-sizing: border-box;
    display: inline-block;
	height: 150px;
	width: 48%;
}

.smallhoverbox:hover {
	height: 250px;
	width: 60%;
}

.mediumhoverbox {
	float: left;
	background: rgb(43,98,99);
background: linear-gradient(0deg, rgba(43,98,99,0.8044467787114846) 0%, rgba(17,40,56,0.8688725490196079) 96%);
	color: #ffe5c5;
	padding: 10px;
	border: solid 1px #F2D1CE;
    box-shadow: 0px 0px 10px 2px #0c2a3c;
	border-radius: 5px;
	margin: 5px;
    transition: 3s;
    overflow: auto;
    box-sizing: border-box;
    display: inline-block;
	height: 250px;
	width: 48%;
}

.mediumhoverbox:hover {
	height: 350px;
	width: 60%;
}

.largehoverbox {
	float: center;
	background: rgb(43,98,99);
background: linear-gradient(0deg, rgba(43,98,99,0.8044467787114846) 0%, rgba(17,40,56,0.8688725490196079) 96%);
	color: #ffe5c5;
	padding: 10px;
	border: solid 1px #F2D1CE;
    box-shadow: 0px 0px 10px 2px #0c2a3c;
	border-radius: 5px;
	margin: 5px;
    transition: 3s;
    overflow: auto;
    box-sizing: border-box;
	height: 350px;
	width: 60%;
}

.largehoverbox:hover {
	height: 500px;
	width: 75%;
        overflow: auto;
}
/* SCROLLBAR FIX FOR BOXES since overflow hates me #93596 */

.largehoverbox::-webkit-scrollbar-track, .mediumhoverbox::-webkit-scrollbar-track, .smallhoverbox::-webkit-scrollbar-track, 
.largebox::-webkit-scrollbar-track, .mediumbox::-webkit-scrollbar-track, .smallbox::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 15px !important; 
}

.largehoverbox::-webkit-scrollbar-thumb, .mediumhoverbox::-webkit-scrollbar-thumb, .smallhoverbox::-webkit-scrollbar-thumb, 
.largebox::-webkit-scrollbar-thumb, .mediumbox::-webkit-scrollbar-thumb, .smallbox::-webkit-scrollbar-thumb  {
    background:  #FF8BC5;
    border-radius: 15px !important; 
}

/* IMG SIZE FIX for boxes */
.largehoverbox img, .largebox img, .mediumbox img, .mediumhoverbox:hover img, .smallbox img, .smallhoverbox img { 
    max-width: 90%;
    max-height: 90%;
}
/* SIDE BOX IMAGE #93596 */

.side { 
    position:absolute;
    top: 235px;
    left: 134px;
    transition: top 3s ease, left 2s ease;
}
.largehoverbox:hover + .side {
position:absolute;
    top: 385px;
    left: 729px;
    transition: top 3s ease, left 2s ease;
 }
 @media only screen and (max-width: 1199px) and (min-width: 992px)  {
    .side {
        display: none;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px)  {
    .side {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .side {
        display: none;
    }
}
/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px;
border-radius: 0px !important;
}

/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #3d3148 !important;
        border: solid 1px #2b2232;
border-radius: 0px !important;
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #9b85ad;
	border-radius: 5px;
}



/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 90%;
}

div#lion_image:hover {
    box-shadow: 0px 0px 3px 1px #F2D1CE;
    opacity: 100%;
    transition: 0.3 ease;
  }

table#player img {
	opacity: 80%;
}
table#player img:hover { 
    opacity: 100%;
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
      border-radius: 50% !important;
      overflow: hidden;
      -webkit-transform: scaleX(-1);
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}


table#player img {
	border-radius: 50% !important;
	overflow: hidden;
}
.rcredits {
font-size: 11px;
opacity: 50%;
transition: 1s ease;
 }

.rcredits:hover {
font-size: 15px;
transition: 1s ease;
opacity: 100%;
 }

/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.imgur.com/jiBRnO9.png')
}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		} }
/* CURSOR */
/* Start  * {cursor: url('https://i.imgur.com/DNzjIOM.png'), auto !important } */
/* Cursor made by u/Scilex*/

/* Codes made by Pandora #144118  
Codes may be edited, used in commissions or for personal use
Please do not remove credit
*/
 
/* Custom featured lion cave background */

.lionImage>div>img:first-child {
    content: url('https://img.screencaps.us/200/1-spirited-awaybr/full/spirited-awaybr-disneyscreencaps.com-2242.jpg');
    max-width: 640px !important;
    height: 500px !important;
    opacity: 80%;
    }
/* CAVE / MOUND IMAGES HOK'S #41458 CODE */

/*Unsorted Lions*/
img[src$="unsortedlionsbanner.png"] {
content: url('https://i.imgur.com/ZtnflXk.png')!important;
opacity: 70%;
transition: opacity 0.3s ease;

}
img[src$="unsortedlionsbanner.png"]:hover {
opacity: 100%;

}

/*Nesting*/
img[src$="nestingbanner.png"] {
content: url('https://i.imgur.com/JOKeUHp.png')!important;
opacity: 70%;
transition: opacity 0.3s ease;
}
img[src$="nestingbanner.png"]:hover {
opacity: 100%;
}


/*Overview*/
img[src$="overviewbanner.png"] {
content: url('https://i.imgur.com/3E5UxGh.jpeg')!important;
opacity: 70%;
transition: opacity 0.3s ease;
}
img[src$="overviewbanner.png"]:hover { 
opacity: 100%;}


/* Other caves */
img[src$="cavedefault.jpg"] {
content: url("https://i.imgur.com/SNg6VRY.png") !important;
opacity: 70%;
transition: opacity 0.3s ease;
}
img[src$="cavedefault.jpg"]:hover {
  opacity: 100%;
}

.mound-grid img /* Mound(s) */ {
	background: url("https://i.imgur.com/wC8weVn.png") center;
background-repeat: no-repeat;
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}
/* TIME */
 
/* TIME DAY */
img[src$="day.png"] {
    content:url('https://i.imgur.com/7Kl1yjG.gif')!important;
    width:20px!important;
 
}
 
/* TIME NIGHT */
img[src$="night.png"] {
    content:url('https://i.imgur.com/cdldmBx.gif')!important;
    width:20px!important;
}
 
/* SEASON */
 
/* DRY SEASON */
img[src$="dry.png"] {
    content:url('https://i.imgur.com/Q9tyPDj.png')!important;
    width:20px!important;
 
}

 
/* EVENT CURRENCY */
 
/* JAN */
img[src$="dermestid.png"] {
    content:url('https://i.imgur.com/rfhy9d9.png')!important;
    width:20px!important;
 
}
 
/* FEB */
img[src$="heartshell.png"] {
    content:url('https://i.imgur.com/rfhy9d9.png')!important;
    width:20px!important;
 
}
 
/* MARCH */
img[src$="beetlerhino.png"] {
    content:url('https://i.imgur.com/rfhy9d9.png')!important;
    width:20px!important;
 
}
 
/* APRIL */
img[src$="easteregg.png"] {
    content:url('https://i.imgur.com/rfhy9d9.png')!important;
    width:20px!important;
 
}
 
 
/* MAY */
img[src$="beetlemant.png"] {
    content:url('https://i.imgur.com/rfhy9d9.png')!important;
    width:20px!important;
 
}
 
/* JUNE */
img[src$="khepri.png"] {
    content:url('https://i.imgur.com/rfhy9d9.png')!important;
    width:20px!important;
 
}
 
/* JULY MS */
img[src$="shard.png"] {
    content:url('https://i.imgur.com/QkQxxir.png')!important;
    width:20px!important;
 
}
 
/* JULY AC */
img[src$="axion.png"] {
    content:url('https://i.imgur.com/rfhy9d9.png')!important;
    width:20px!important;
 
}
 
/* AUG CB */
img[src$="beetlecarrion.png"] {
    content:url('https://i.imgur.com/QkQxxir.png')!important;
    width:20px!important;
 
}
 
/* AUG DB */
img[src$="bone.png"] {
    content:url('https://i.imgur.com/rfhy9d9.png')!important;
    width:20px!important;
 
}
 
/* SEPT JB */
img[src$="beetlejewel.png"] {
    content:url('https://i.imgur.com/QkQxxir.png')!important;
    width:20px!important;
 
}
 
/* SEPT ET */
img[src$="eldritch.png"] {
    content:url('https://i.imgur.com/rfhy9d9.png') !important;
    width:20px!important;
 
}
 
/* OCT BB */
img[src$="beetleblood.png"] {
    content:url('https://i.imgur.com/QkQxxir.png')!important;
    width:20px!important;
 
}
 
/* OCT NF */
img[src$="nephelinefeather.png"] {
    content:url('https://i.imgur.com/rfhy9d9.png')!important;
    width:20px!important;
 
}
 
/* OCT DS */
img[src$="demonicscale.png"] {
    content:url('https://i.imgur.com/zeF9HuJ.png')!important;
    width:20px!important;
 
}
 
/* NOV */
img[src$="scarabbeetle.png"] {
    content:url('https://i.imgur.com/rfhy9d9.png')!important;
    width:20px!important;
 
}
 
/* DEC */
img[src$="stinkbug.png"] {
    content:url('https://i.imgur.com/rfhy9d9.png')!important;
    width:20px!important;
 
}
